@import "_variable.scss";

.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  background-color: (rgb(90, 26, 90));
  padding: 1rem 3rem;
  margin: 1rem auto;
  font-size: 2.5rem;
  border-radius: 7rem;
  transition: all 0.4s;
  position: relative;
}

.btn-red {
  background-color: color (black);
  color: white;
}

.btn-red::after {
  background-color: color (black);
  color: white;
}

.btn:hover {
  transform: translateY(-2px);
  transform: scale(2);
  box-shadow: 0 10px 0.5rem rgba($color: #d77fff, $alpha: 0.6);
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn:hover::after {
  transform: scaleX(1.5) scale(1.5);
  opacity: 0;
}
.btn:active {
  transform: translateY(-2px);
  transform: scaleX(1.5) scaleY(1.6);
  box-shadow: 0 5px 0.5rem rgba($color: #dd8080, $alpha: 0.6);
}
