@import "_variable.scss";

.text-effect {
  background-image: url("./img/Pureblack.jpg");
  background-position: center;
  color: transparent;
  font-size: 8rem;
  -webkit-background-clip: text;
  transition: all 0.5s;
}
.text-effect:hover {
  background-image: url("./img/zebra.jpg");
  transform: skewX(30deg);
  transform: skewY(30deg);
  letter-spacing: 2rem;
}
