@import "_variable.scss";
.tsm {
  height: 20rem;
  transition: all 0.5s;
  border-radius: 50%;
}
.tsm:hover {
  border-radius: 0;
  filter: blur(4px);
  transform: scale(0.7);
}
.tsm-head {
  font-size: 1.3rem;
  opacity: 0;
  color: rgb(216, 32, 32);
  position: absolute;
  transition: 0.3s;
  text-transform: uppercase;
  transition: all 0.5s;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.tsm:hover .tsm-picture {
  filter: blur(1px);
  filter: grayscale(80%);
}

.tsm:hover .tsm-head {
  opacity: 1;
  top: 20%;
  left: 50%;
}
