html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
$colors: (
  red: #d50000,
  white: #fff,
  blue: #2979ff,
  black: #000,
  aqua: #6dd5ed,
  gray: gray,
  purple: rgb(241, 112, 241),
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}
